@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: black;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;

    height: 100vh;
    width: 100vw;
}

section#celular {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background: blue url(../imagens/frame-iphone.png);
    height: 627px;
    width: 311px;
}

section#rede-social {
    text-align: right;
    padding-top: 30px;
    padding-right: 24px;

}

section#rede-social img {
    border-radius: 50%;
    height: 50px;
    margin: 4px;
    
}

