@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family:arial, helvetica, sans-serif;
}

html {
    background-color: black;
}

body {
    position:relative;
    background-image:url(../imagens/fundo-madeira.jpg);
    height: 100%vh;
    width: 100%vw;
}

#celular {
    position:absolute;
    left:50%;
    top: 50%;
    

    transform: translate(-50%);

    background: url(../imagens/frame-iphone.png);
    height: 627px;
    width: 311px;
}